html,button,input,select,textarea {
	color: #222;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #34495e;
	font-size: 1em;
	line-height: 1.4;
	background-color: #ecf0f1;
	zoom: 1;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

strong {
	font-weight: 100;
	font-size: 57%;
	position: absolute;
	left: 4px;
	top: 33px;
}

.center {
	text-align: center;	
}

#container {
	display: block;
}

#header {
	padding: 0;
	position: relative;
	background-color: #2c3e50;
	height: 134px;
	padding-top: 18px;
}

#header h1 {
	color: #ecf0f1;
	margin-top: 0px;
	margin: 10px 0px 40px 30px;
}

#menu {
	height: 40px;
	background-color: #2ecc71;
	color: #ecf0f1;
	font-weight: 800;
	position: relative
}

#menu ul li {
	list-style: none;
	float: left;
	text-align: center;
	padding: 9px 35px;
	margin-top: 0px;
	border-right: 1px solid #2c3e50;
}

#menu ul li:hover {
	background-color: #34495e;
}

.active {
	background-color: #34495e;
}

.brand {
	margin-top: 0px;
	position: relative;
	width: 310px;
	margin: 23px 54px;
}

.content {
	width: 100%;
}

.content__widget {
	background-color: #D0D7DB;
	margin: 15px;
}

.widget__header {
	background-color: #34495e;
	height: 70px;
	text-align: center;
	line-height: 2.5em;
	font-size: 25px;
	color: #ecf0f1;
}

.widget__body {
	padding: 30px;
}

.content_block {
	float: left;
	width: 94%;
	min-height: 400px;
}

.content__left {
	float: left;
	width: 48%;
	min-height: 654px;
	clear: both;
}

.content__right {
	float: left;
	width: 46%;
	min-height: 445px;
	padding-bottom: 10px;
}

#footer {	
	float: left;
	width: 100%;
	min-height: 100px;
	background-color: #7f8c8d;
	color: #ecf0f1;
	border-top: 40px solid #2c3e50;
}

#footer h5 {
	margin: 35px;
	font-size: 14px;
}

.row {
	padding: 9px;	
}

.r__item {
	width: 283px;
	height: 200px;
	overflow: hidden;
	float: left;	
	margin: 6px 8px;
}

.r__item--default {
	height: 200px;
}

.r__item--large {
    width: 582px;
}

.r__item--plus {
	height: 410px;
}


.r__item__inner {
	background-color: #2ecc71;
	height: 100px;
	margin-top: -14px;
}

.r__item__inner--small {
	position: absolute;
	margin-top: 155px;
}

.r__item__inner--plus {
	background-color: #2ecc71;
	margin-top: -16px;
	height: 176px;	
	text-align: center;
	padding-top: 40px;
	font-weight: bolder;
}

.r__item__inner p {
	line-height: 19px;
	padding: 7px 14px;
	font-size: 14px;
	font-weight: bolder;
	margin-bottom: -9px;
}

.image__item--small {
	width: 283px;
	height: 202px;
}

.image__item--plus {
	width: 418px;
}

.image__item--large {
	width: 415px;
	height: 200px;
}

.wdt__3 {
	width: 34%;
}

.wdt__9 {
	width: 61%;
}

.button-flat {
	background-color: #2c3e50;
	padding: 10px;
	color: #ecf0f1;
	font-weight: bolder;
	text-decoration: none;
}

.inverse {
	background-color: #2ecc71;
	color: #2c3e50;	
}

.pull__left {
	float: left;
}

.pull__right {
	float: right;
}