@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-black.eot');
  src: url('../fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black.woff') format('woff'), url('../fonts/lato/lato-black.ttf') format('truetype'), url('../fonts/lato/lato-black.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bold.eot');
  src: url('../fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold.woff') format('woff'), url('../fonts/lato/lato-bold.ttf') format('truetype'), url('../fonts/lato/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bolditalic.eot');
  src: url('../fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic.woff') format('woff'), url('../fonts/lato/lato-bolditalic.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-italic.eot');
  src: url('../fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic.woff') format('woff'), url('../fonts/lato/lato-italic.ttf') format('truetype'), url('../fonts/lato/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-light.eot');
  src: url('../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light.woff') format('woff'), url('../fonts/lato/lato-light.ttf') format('truetype'), url('../fonts/lato/lato-light.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regular.eot');
  src: url('../fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular.woff') format('woff'), url('../fonts/lato/lato-regular.ttf') format('truetype'), url('../fonts/lato/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flat-UI-Icons";
  src: url('../fonts/flat-ui-icons-regular.eot');
  src: url('../fonts/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/flat-ui-icons-regular.woff') format('woff'), url('../fonts/flat-ui-icons-regular.ttf') format('truetype'), url('../fonts/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,button,input,select,textarea {
	color: #222;
}

body {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	color: #ecf0f1;
	font-size: 1em;
	line-height: 1.4;
	background-color: #ecf0f1;
	zoom: 1;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

strong {
	font-weight: 100;
	font-size: 57%;
	position: absolute;
	left: -32px;
	top: 28px;
}

.center {
	text-align: center;
}

#container {
	display: block;
}

#header {
	padding: 0;
	position: relative;
	background-color: #D0D7DB;
	height: 134px;
	padding-top: 18px;
	border-top: 38px solid #2c3e50
}

#header h1 {
	color: #ecf0f1;
	margin-top: 0px;
	margin: 21px 12px 30px 64px;
}

#menu {
	height: 40px;
	background-color: #459C30;
	color: #ecf0f1;
	font-weight: 800;
	position: relative
}

#menu ul li {
	list-style: none;
	float: left;
	text-align: center;
	padding: 9px 35px;
	margin-top: 0px;
	border-right: 1px solid #2c3e50;
}

#menu ul li a {
	text-decoration: none;
	color: white
}

#menu ul li:hover {
	background-color: #34495e;
}

.logo {
	position: absolute;
	top: 20px;
}

.logo__brand {
	width: 380px;
	margin-left: 39px;
}

.active {
	background-color: #34495e;
}

.brand {
	margin-top: 0px;
	position: relative;
	width: 310px;
	margin: 23px 54px;
	color: #2c3e50 !important;
}

.content {
	width: 1170px;
	margin: 1% auto;	
}

.content__widget {
	background-color: #D0D7DB;
}

.widget__header {
	background-color: #429B2C;
	height: 70px;
	text-align: center;
	line-height: 2.5em;
	font-size: 25px;
	color: #ecf0f1;
}

.widget__body {
	padding: 30px;
	color: #2c3e50 !important;
	font-weight: bolder !important;
}

.widget__body2
{
	float:left;
	position:relative;
	background-color: blue;	
}


.content_block {
	float: left;
	width: 98%;
	min-height: 400px;
}

.content__left {
	float: left;
	min-height: 445px;
	clear: both;
}

.content__right {
	float: left;
	min-height: 445px;
	padding-bottom: 10px;
}

#footer {
	float: left;
	width: 100%;
	min-height: 100px;
	background-color: #D0D7DB;
	color: #2c3e50;
	border-top: 40px solid #2c3e50;
	border-bottom: 38px solid #459C30;
	margin-top: 1%;
}

#footer h5 {
	margin: 35px;
	font-size: 14px;
}

.row {
	padding: 9px;
}

.r__item {
	width: 231px;
	height: 200px;
	overflow: hidden;
	float: left;
	margin: 6px 8px;
}

.r__item--default {
	height: 200px;
}

.r__item--large {
	width: 479px;
}

.r__item--plus {
	height: 410px;
}

.r__item__inner {
	background-color: #459C30;
	height: 121px;
	margin-top: -32px;
}

.r__item__inner--small {
	position: absolute;
	margin-top: 155px;
}

.r__item__inner--plus {
	background-color: #459C30;
	margin-top: -16px;
	height: 285px;
	text-align: center;
	padding-top: 40px;
	font-weight: bolder;
}

.r__item__inner--plus img {
	margin-top: -24px;
}

.r__item__inner p {
	line-height: 19px;
	padding: 7px 14px;
	font-size: 14px;
	font-weight: bolder;
	margin-bottom: -9px;
}

.image__item--default {
	height: 285px;
}


.image__item--small {
	width: 270px;
	height: 202px;
}

.image__item--plus {
	width: 418px;
}

.image__item--large {
	width: 235px;
	height: 200px;
}

.wdt__50 {
	width: 48.5%;
	margin: 0px;
	margin-right: 1%;
}

.disLaterDir
{
	padding-left: 30px;
}

.wdt__75 {
	width: 65%;
	margin: 0px;
	margin-right: 1%;
}

.wdt__25 {
	width: 32.333%;
	margin: 0px;
	margin-right: 1%;
}

.button-flat {
	background-color: #2c3e50;
	padding: 10px;
	color: #ecf0f1;
	font-weight: bolder;
	text-decoration: none;
	border: none;
}

.inverse {
	background-color: #2ecc71;
	color: #2c3e50;
}

.pull__left {
	float: left;
}

.pull__right {
	float: right;
}

#icone_cabecalho {
	position: relative;
	float: left;
}

.form__item, .form__action {
	padding: 5px;
}

.form__item input {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
	padding: 5px;
	width: 96%;
	border: 1px solid #2c3e50;
}

.form__action input {
	margin-right: 10px;
}

.logo__full {
	width: 100%;
}